@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<mvcdemoapp.Models.Product>
@{
    ViewData["Title"] = "Produjct Catalog";
}

<h2 class="mb-4">@ViewData["Title"]</h2>

<table>
    <thead>
        <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Product Description</th>
            <th scope="col">Category</th>
            <th scope="col">Product Price</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var product in Model)
        {
            <tr>
                <td>@product.ProductName</td>
                <td>@product.ProductDescription</td>
                <td>@product.ProductCategory</td>
                <td>@product.ProductPrice</td>
                <td>@product.ProductName</td>
                <td><a asp-action="Details" asp-route-id="@product.ProductId">View Details</a></td>
            </tr>
        }
    </tbody>
</table>